[Desktop Entry]
Name=Double Commander
Comment=File Manager
Exec={{ programs_dir }}/{{ dc_dir_name }}/doublecmd
Icon={{ programs_dir }}/{{ dc_dir_name }}/doublecmd.png
Terminal=false
Type=Application
Categories=Utility;FileTools;
