[Desktop Entry]
Name=NextCloud
Comment=NextCloud Desktop Sync Client
Exec={{ programs_dir }}/{{ nc_app_name }}.AppImage
Icon={{ programs_dir }}/nextcloud.png
Type=Application
Categories=Network;FileTransfer;
StartupNotify=true
X-GNOME-Autostart-enabled=true
