[Desktop Entry]
Name=Thunderbird
Comment=Mozilla Thunderbird Email Client
Exec={{ programs_dir }}/thunderbird/thunderbird %u
Terminal=false
Type=Application
Icon={{ programs_dir }}/thunderbird/thunderbird.png
Categories=Network;Email;