[Desktop Entry]
Name=tinyMediaManager
Comment=Media Manager
Exec={{ programs_dir }}/{{ tmm_dir_name }}/tmm.sh
Icon={{ programs_dir }}/{{ tmm_dir_name }}/tmm.png
Terminal=false
Type=Application
Categories=AudioVideo;
